*.class
.project
.classpath
.~*
target/
.settings/
.idea/
*.iml
suepk
*.class
target/classes/app.properties
target/classes/app.properties
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.jdt.core.prefs
*.class
target/classes/app.properties
target/classes/META-INF/maven/com.ge.mict/batApp2/pom.properties
target/classes/app.properties
out/
